In [5]:
import pandas as pd
import requests
from tqdm import tqdm

In [7]:
df = pd.read_csv('imgdata.csv')

In [9]:
df.head()

,link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,Clouds Sky Atmosphere Blue Sky,196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,Bird Ornithology Hummingbird,76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,Sea Rainbow Rainfall Subtropical,282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,Cherry Blossoms Road Japan Sakura,42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,Cape Marguerite Flower Plant,39,15

In [11]:
df['link']

0      https://cdn.pixabay.com/photo/2022/03/06/05/30...
1      https://cdn.pixabay.com/photo/2022/04/07/11/45...
2      https://cdn.pixabay.com/photo/2022/02/28/15/28...
3      https://cdn.pixabay.com/photo/2022/04/04/02/52...
4      https://cdn.pixabay.com/photo/2022/04/09/18/06...
                             ...
238    https://cdn.pixabay.com/photo/2022/04/03/12/45...
239    https://cdn.pixabay.com/photo/2021/11/17/17/03...
240    https://cdn.pixabay.com/photo/2022/02/07/15/22...
241    https://cdn.pixabay.com/photo/2022/04/09/16/46...
242    https://cdn.pixabay.com/photo/2022/03/20/10/50...
Name: link, Length: 243, dtype: object

In [29]:


path = []
for i in df['link']:
    
    res = requests.get(i)
    fd = open(r'C:\Users\yamin\Documents\img/'+ i.split('/')[-1], 'wb')
    fd.write(res.content)
    fd.close()
    path.append(i.split('/')[-1])

In [33]:
df['path'] = path

In [39]:
df.to_csv('img.csv')